.jumbotron
  .container
    %h1{:style=>'text-align: center'} WORKOUT LOG
    =image_tag "workoutlog_logores.png"
.jumbotron
  .container
  #index_workouts
  - @workouts.each do |workout|
    %h1= link_to workout.date.strftime("%A %B %d"), workout
    %h2
      %span Workout:
      = workout.workout

.jumbotron
  .container
  %h3= link_to "Add new workout", new_workout_path