<div class = "row">
  <div class ="col-xs-12">
    <div class="jumbotron" >
      <%= image_tag("logo.png", :alt => "rss feed", style: 'height:50%;width:100%;') %>
      <h1>FITNESS TECH</h1>
      <p>Learn how to plan your diet and how to exercise for your fitness goals. Learn what supplements to use and how to use them based in your goals! </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>featured</p>
      </div>
    </div>
  </div>
  <div class="col-xs-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>main</p>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>contact</p>
      </div>
    </div>
  </div>
</div>
