<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>DIET GUIDE</h1>
      <p>Learn what supplements to use and how to use them based in your goals </p>
      <%= image_tag("foodeatavoid.png", class: "img-fluid", :alt => "banner", :width => "100%", :height => "70%") %>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
          <h2>Det food list</h2>
          <p>For a quick “do eat” and “don’t eat” primer, see our quick reference guide below.</p>


          <table class="table">
            <thead>
            <tr>
              <th>Category</th>
              <th>Food</th>
            </tr>
            </thead>
            <tbody>
            <tr>

            </tr>
            <tr class="success">
              <td>Meat</td>
              <th>Poultry</th>
            </tr>
            <tr class="success">
              <td>Meat</td>
              <th>Turkey</th>
            </tr>
            <tr class="success">
              <td>Meat</td>
              <th>Salmon</th>
            </tr>
            <tr class="success">
              <td>Meat</td>
              <th>Shrimp</th>
            </tr>
            <tr class="success">
              <td>Vegetable</td>
              <th>Asparagus</th>
            </tr>
            <tr class="success">
              <td>Vegetable</td>
              <th>Avocado</th>
            </tr>
            <tr class="success">
              <td>Vegetable</td>
              <td>Artichoke hearts</td>
            </tr>
            <tr class="warning">
              <td>Vegetable</td>
              <td>Yam</td>
            </tr>
            <tr class="warning">
              <td>Vegetable</td>
              <td>Potatoes</td>
            </tr>
            <tr class="warning">
              <td>Fruit</td>
              <td>Bananas</td>
            </tr>
            <tr class="danger">
              <td>Sweets</td>
              <td>Candy bars </td>
            </tr>
            <tr class="danger">
              <td>Sweets</td>
              <td>Chocolate</td>
            </tr>
            <tr class="danger">
              <td>Fruit</td>
              <td>Bananas</td>
            </tr>
            <tr class="danger">
              <td>Grains</td>
              <td>Corn syrup</td>
            </tr>
            <tr class="danger">
              <td>Grains</td>
              <td>Bread</td>
            </tr>
            <tr class="danger">
              <td>Grains</td>
              <td>Cereals</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">

        <h2 class="featurette-heading">Aenean massa  <span class="text-muted">Donec quam felis</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
          ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
          fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
          justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
          nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
          Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra.</p>
        <p>nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
          ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
          sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">

        <h2 class="featurette-heading">Aenean massa  <span class="text-muted">Donec quam felis</span></h2>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
          ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
          fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
          justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
          nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
          Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra.</p>
        <p>nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
          ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
          sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">

        <h2 class="featurette-heading">Aenean massa  <span class="text-muted">Donec quam felis</span></h2>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
          ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
          fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
          justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
          nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
          Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra.</p>
        <p>nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
          ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
          sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>

      </div>

    </div>
  </div>
</div>

</body>
</html>
