<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>SUPPLEMENTATION</h1>
      <p>Learn what supplements to use and how to use them based in your goals </p>
    </div>
  </div>
</div>

<div class="row">
  <!--<div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>The Importance Of Supplements</h5>
        <p>Supplements make it much easier to get the necessary nutrients to build muscle and can even give you an
          advantage and enhance your training when taken right and combined with a good diet.</p>
        <p>Supplementation not only
          protects against deficiency but also bridges the gap between average nutrition, which culminates in
          premature death, and optimum nutrition, which extends life span by decades. </p>
        <p>Supplements are intended to enhance the nutrient density of your diet. That is the ratio
          of micronutrients (vitamins, minerals, and other essential nutrients) to macronutrients (carbohydrates,
          protein, and fat). The higher this ratio, the healthier your diet. </p>
        <p>The combination of a nutrient-dense diet and supplements creates an environment conducive to peak cellular
          performance &#45;&#45; and that translates into extra decades of optimum
          health.</p>
      </div>
    </div>
  </div>-->
  <div class="col-xs-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>WHEY PROTEIN</h2>
        <%= image_tag("whey.png", :alt => "whey", style: 'height:50%;width:80%;') %>
        <h3>Facts & Information</h3>
        <p>Whey protein is one of the two proteins found in milk, with the other being casein. When a coagulant (usually
          renin) is added to milk, the curds (casein) and whey separate. Whey protein is the water-soluble part of milk.
          Whey is used as a protein supplement. It is very useful for hitting targeted daily protein goals. </p>
        <h3>Whey Concentrate</h3>
        <p>Concentrate is the least processed form, and is 35-80% protein by weight.</p>
        The wide range is applicable to all whey, as some is used in food products as well; supplemental whey protein
        concentrate is referred to as WPC 80 and tends to be standardized at 80% protein by weight.</p>
        <h3>Whey Isolate</h3>
        <p> Isolate is defined as being more than 90% protein by weight.</p>
        <h3>Whey Hydrolysate</h3>
        <p> Hydrolysate is protein that is enzymatically and acid pretreated to reduce the particulate size even further
          and is the fastest absorbed.</p>
        <p> The process of hydrolyzation can reduce the allergic potential of whey and milk protein, due to removing
          allergenic epitopes.</p>
        <h3>How to Take</h3>
        <p>The amount of whey protein to supplement depends on individual daily protein goals. For example:</p>
        <p> If you are an athlete or highly active person attempting to lose body fat while preserving lean muscle mass,
          a daily intake of 1.5-2.2g/kg bodyweight (0.68-1g/lb bodyweight) is a good goal.</p>
        <p> If you are an athlete or highly active person, or you are attempting to lose body fat while preserving lean
          mass, then a daily intake of 1.0-1.5g/kg bodyweight (0.45-0.68g/lb bodyweight) is a good goal.</p>
        <p> If you are sedentary and not looking to change body composition, a daily target of 0.8g/kg bodyweight
          (0.36g/lb bodyweight) is a good goal. </p>


      </div>
    </div>
  </div>
  <div class="col-xs-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>CREATINE</h2>
        <%= image_tag("creatine.png", :alt => "rss feed", style: 'height:50%;width:70%;') %>
        <h3>Facts & Information</h3>
        <p>Creatine is a molecule produced in the body. It stores high-energy phosphate groups in the form of
          phosphocreatine. </p>
        <p>Phosphocreatine releases energy to aid cellular function during stress. </p>
        <p> This effect causes strength increases after creatine supplementation, and can also benefit the brain, bones,
          muscles, and liver. </p>
        <p> Most of the benefits of creatine are a result of this mechanism. </p>
        <p>Creatine can be found in some foods, mostly meat, eggs, and fish. </p>
        <p>Creatine supplementation confers a variety of health benefits and has neuroprotective and cardioprotective
          properties. </p>
        <p> It is often used by athletes to increase both power output and lean mass.</p>
        <h3>How to Take</h3>
        <p>There are many different forms of creatine available on the market, but creatine monohydrate is the cheapest
          and most effective. </p>
        <p> Another option is micronized creatine monohydrate, which dissolves in water more easily and can be more
          practical. </p>
        <p> Creatine monohydrate can be supplemented through a loading protocol. </p>
        <p> To start loading, take 0.3 grams per kilogram of bodyweight per day for 5–7 days, </p>
        <p>then follow with at least 0.03 g/kg/day either for three weeks (if cycling) or indefinitely (without
          additional loading phases). </p>

      </div>
    </div>
  </div>
  <div class="col-xs-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>ZMA</h2>
        <%= image_tag("zma.png", :alt => "rss feed", style: 'height:50%;width:80%;') %>
        <h3>Facts & Information</h3>
        <p>ZMA is a patented formulation, which contains zinc, magnesium and vitamin B6.</p>
        <p>It is claimed to increase testosterone levels, but there is no evidence to suggest that this occurs in healthy men.
          Though men with zinc deficiencies can supplement zinc to fix their deficiency and increase their testosterone levels,
          there is no evidence to suggest this occurs in men with no deficiency. </p>
        <p>Despite ZMA’s lack of effect on testosterone levels, it can be a useful supplement for people that lack zinc and magnesium. </p>
        <p>  All three of these compounds are extremely important in biological processes,
          and USDA studies have shown that less than 70% of Americans get enough zinc,
          and less than 40% get enough magnesium.</p>
        <h3>How to Take</h3>
        <p>The general recommended dose of ZMA for men is typically 30 mg of zinc, 450 mg of magnesium, and 10.5 mg of vitamin B6.
          Women should generally take two-thirds the recommended dose, however, you should always follow the guidelines set by the supplement’s manufacturer. </p>
          For the best results, take ZMA 30 to 60 minutes before bed. Also, it’s recommended that you take this supplement on an empty stomach.
        <p> Never take ZMA with anything containing calcium, as this will hinder the absorption of one another.
          If you typically consume protein before bed, do so 30 to 60 minutes after your ZMA dose. </p>
        <p> Another option is micronized creatine monohydrate, which dissolves in water more easily and can be more
          practical. </p>
        <p> Creatine monohydrate can be supplemented through a loading protocol. </p>
        <p> To start loading, take 0.3 grams per kilogram of bodyweight per day for 5–7 days, </p>
        <p>then follow with at least 0.03 g/kg/day either for three weeks (if cycling) or indefinitely (without
          additional loading phases). </p>

      </div>
    </div>
  </div>

</div>
